<div class="content">
  <div class="pageHeader">Contact</div>
  <div class="form" id="contactForm">
    @for (inputType of getObjectKeys(contactData); track $index ){
   
    
    @if(inputType === "bericht"){
    <textarea [class.blur]="loading" 
      #input
      placeholder="{{ inputType + ' *' }}"
      id="{{ inputType }}"
      (input)="userInput($event, inputType)"
      style="height: 100px"
    >{{contactData[inputType]}}</textarea>
    } 
    
    @else {
    <input [class.blur]="loading" 
      #input
      placeholder="{{ inputType + ' *' }}"
      id="{{ inputType }}"
      type="text"
      (input)="userInput($event, inputType)"
      value="{{contactData[inputType]}}"
    />
    }}
    @if (!patternService.valid === false){
      <button [class.blur]="loading"  (click)="sendEmail()" class="verzendButton" [disabled]="loading">{{loading? 'Verzenden...' :'Verstuur'}}</button>
    }

    <div class="red" [class.blur]="loading">
  @for (inputType of getObjectKeys(validation); track inputType) {
    @if (validation[inputType] === false) {   
      <div>* {{ inputType }} Ongeldig</div>
    }
  }
</div>
    <div *ngIf="loading" class="loader"></div>
    <div [ngClass]="{
    'success': success,
    'error':   error && !success}"  > {{message}}</div>
  </div>
  <div class="gegevens">
    <ul style="list-style: none;">
      <li>BE0782333902</li>
      <li>nico.belis&#64;hotmail.com</li>
    </ul></div>
</div>
