<span class="content">
  <div class="pageHeader">Contact</div>
  <div class="contentSection" id="contactForm">
    @for (inputType of getObjectKeys(contactData); track $index ){
    @if(validation[inputType] === false){
    <div [class.blur]="loading"  class="red">* {{ inputType }} Ongeldig</div>
    }  
    
    @if(inputType === "bericht"){
    <textarea [class.blur]="loading" 
      #input
      placeholder="{{ inputType + ' *' }}"
      id="{{ inputType }}"
      (input)="userInput($event, inputType)"
      style="height: 100px"
    >{{contactData[inputType]}}</textarea>
    } 
    
    @else {
    <input [class.blur]="loading" 
      #input
      placeholder="{{ inputType + ' *' }}"
      id="{{ inputType }}"
      type="text"
      (input)="userInput($event, inputType)"
      value="{{contactData[inputType]}}"
    />
    }}
    @if (patternService.valid === false){
      <button [class.blur]="loading"  (click)="sendEmail()" class="verzendButton" [disabled]="loading">{{loading? 'Verzenden...' :'Verstuur'}}</button>
    }

    
    <div *ngIf="loading" class="loader"></div>
    <div [ngClass]="{
    'success': success,
    'error':   error && !success}"  > {{message}}</div>
  </div>
</span>
