#contactForm {
  justify-self: center;
  display: grid;
  justify-content: center;
  gap:10px;
  padding: 0;
}
.pageHeader{
  margin: 20px 0px;
  color: var(--primary-color);
  justify-self: center;
  font-size: x-large;
  font-weight: 400
  
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.gegevens{
  align-self: start;
  margin-left: 20px;
}

.verzendButton {
  background-color: var(--primary-color);
  color: var(--logo-white);
  border-radius: 10px;
  display: inline;
  width: 100%;
}
.content {
  grid-template-rows: 60px 1fr;
  gap: 0;
}
.arrow {
  font-size: xx-large;
}
.red {
  font-size: smaller;
  color: red;
}
input,
textarea {
  border: none;
  background-color:  #dad5d4;
  font-weight: 300;
  padding: 10px;
  color: black;
  border-radius: 10px;
  height: 20px;
}
.blur{
  filter: blur(2px);          /* Adjust the px value to taste: 4px–12px is common */
  transition: filter 0.3s ease; /* Smooth fade-in/out */
  pointer-events: none;  
}
/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-bottom: -12,5px;
  margin-left: -12.5px;
  width: 25px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-color);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
@media (min-width: 800px) {
  #contactForm {
    grid-template-columns: 1fr;
    width:300px;
  }
  .verzendButton,.notActive {
    width: 200px;
    justify-self: center;
  }
}
