<header>
  <div class="logoBanner">
    <img
      class="logoText"
      src="assets/Logo transparant.png"
      alt="Belis Ondernemingen"
    />
    <nav>
      <a class="navButton" routerLinkActive="active" routerLink="">Home</a>

      <a
        class="navButton"
        routerLinkActive="active"
        *ngFor="let service of companyServices.companyServices"
        [routerLink]="'/' + (service | lowercase)"
      >
        {{ service }}
      </a>
    </nav>
  </div>
</header>
<main class="main-bg">
  <router-outlet></router-outlet>
</main>
<footer>
  <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
  <a style="font-size:xx-large;" href="tel:+32497371107">&#9990;</a>
    <a style="font-size:xx-large;" href="mailto:nico.belis@hotmail.com" class="envelope"
      ><span style="font-family: Tahoma;">&#9993;</span>
    </a>
  </div>
  <p>
    <a href="https://www.taxusweb.be">
    Powered by: 
      <span style="font-family:  Geneva;">&copy;</span>Taxusweb
    </a>

    <!-- <img
      style="height: 20px"
      src="/assets/pictogrammen/Taxus logo under 350 kb.png"
      alt="logo"
    /> -->
  </p>
</footer>
