.logoBanner {
  display: grid;
  background-color: var(--primary-color);
  padding: 10px 0px;
}
.logoText {
  width: 100px;
  justify-self: center;
}
nav{
  padding-top: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.navButton{
  border-top: 1px solid transparent;
}
.navButton:hover{
  border-top: 1px solid var(--logo-white);
}
footer {
  display: grid;
  justify-content: center;
  padding: 10px 0px;
  justify-items: center;
  color: var(--logo-white);
  background-color: var(--primary-color);
}
main{
  height: calc(100svh - 182.69px);
   overflow-y: auto;
   background-color: var(--logo-white);
}