<header>
  <div class="logoBanner">
    <img
      class="logoText"
      src="assets/Logo transparant.png"
      alt="Belis Ondernemingen"
    />
    <nav>
      <a class="navButton" routerLink="">Home</a>
      <a class="navButton" routerLink="snoeien" routerLinkActive="active"
        >Snoeien</a
      >
      <a class="navButton" routerLink="vellen" routerLinkActive="active"
        >Vellen</a
      >
      <a class="navButton" routerLink="verkoop" routerLinkActive="active"
        >Verkoop</a
      >
      <a class="navButton" routerLink="contact" routerLinkActive="active"
        >Contact</a
      >
    </nav>
  </div>
</header>
<main>
  <router-outlet> </router-outlet>
</main>
<footer>
  <a href="tel:+32497371107">&#9990; +32 497 37 11 07</a>
  <a href="mailto:nico.belis@hotmail.com" class="envelope"
    >&#9993; nico.belis&#64;hotmail.com
  </a>
</footer>
