<div class="content">
  <section 
           style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)), url('/assets/images/verkoop/1.jpeg')"
           >
    <div class="textCard">
      <h2>Hakselhout</h2>
      <ul>
        <li>Zuivere snippers</li>
        <li>Snippers met bladgroen</li>
      </ul>
 <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Verkoop: hakselhout' }"
        >Vraag je offerte aan</a
      >
    </div>
  </section>

  <section
           style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)), url('/assets/images/verkoop/4.jpeg')">
    <div  class="textCard">
      <h2>Brandhout</h2>
     <ul>
        <li>Mix ceder,den,cipres &amp; spar</li>
        <li>Gemengd loofhout</li>
      </ul>
       <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Verkoop: brandhout' }"
        >Vraag je offerte aan</a
      >
    </div>
  </section>


</div>