/* 
.content {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.content::-webkit-scrollbar {
  display: none;
}


section{
      scroll-snap-align: start;
  scroll-snap-stop: always;
    height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  color: white;
} */
