:root{
    --primary-color: #473128;
    --logo-white: #FBFAFA;
}
/* .content {
  background-image:  linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('/assets/images/verkoop/3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
html,
body {

  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  font-weight: 300;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100svh; 
}
.success{
  color: green;
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
}
.error{
  background-color: lightpink;
  color: red;
    border-radius: 5px;
  text-align: center;
}
a{
     font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FBFAFA;
}
