:root{
    --primary-color: #473128;
    --logo-white: #FBFAFA;
}
html,
body {

  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  height: 100svh;
  margin: 0px;
  font-weight: 300;
}
.success{
  color: green;
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
}
.error{
  background-color: lightpink;
  color: red;
    border-radius: 5px;
  text-align: center;
}
a{
     font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FBFAFA;
}
