:root{
    --primary-color: #473128;
    --logo-white: #FBFAFA;
}

html,
body {

  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
  height: 100svh;
  margin: 0;
  font-weight: 300;
  overflow: hidden;    
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100svh; 
}
.success{
  color: green;
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}
.error{
  background-color: lightpink;
  color: red;
  height: 100%;
    border-radius: 5px;
  text-align: center;
}
a{
     font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FBFAFA;
}
.textCard{
  background-color: var(--primary-color);
  color: var(--logo-white);
   font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
    align-self: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.5);
}

