<div class="content">
  <section>
    <div class="textCard" style="text-align: center; margin-bottom: 20px">
      <h2>Snoeien</h2>
    </div>
    <div class="textCard">
      <h2>Onderhoudssnoei</h2>
      <ul>
        <p>verwijderen van:</p>
        <li>Dode</li>
        <li>zieke</li>
        <li>kruisende takken</li>
      </ul>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Onderhoudssnoei' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>

  <section>
    <div class="textCard">
      <h2>Vormsnoei</h2>
      <p>Kroon in de gewenste vorm houden</p>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Vormsnoei' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>
  <section>
    <div class="textCard">
      <h2>Uitlichten</h2>
      <p>Selectief takken wegnemen voor meer licht en lucht.</p>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Uitlichten' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>
  <section>
    <div class="textCard">
      <h2>Inkortingssnoei</h2>
      <p>takken verkorten om lengte/groei te beperken.</p>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Inkortingssnoei' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>
  <section>
    <div class="textCard">
      <h2>Opkronen</h2>
      <p>Onderste takken verwijderen, vrijmaken van doorgang.</p>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Opkronen' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>
  <section>
    <div class="textCard">
      <h2>Begeleidingssnoei</h2>
      <p>Jonge bomen sturen naar gewenste structuur.</p>
      <a
        class="contact"
        routerLink="/contact"
        [queryParams]="{ onderwerp: 'Begeleidingssnoei' }"
        >Vraag je gratis offerte aan</a
      >
    </div>
  </section>
</div>
