
 .content{
  
     background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url("/assets/images/snoeien/2.jpeg");
      background-size: cover;
      background-position: center center; 
      background-repeat: no-repeat;
      background-attachment: fixed; 

 }