
 .content{
  
     background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url("/assets/images/snoeien/2.jpeg");
      background-size: cover;
      background-position: center center; 
      background-repeat: no-repeat;
      background-attachment: fixed; 

 }
 @media (min-width: 800px) {
  .content {
    scroll-snap-type: none;
    overflow-y: auto;           
    scroll-behavior: auto;    
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;        
  }

  section {
    
    scroll-snap-align: none;
    scroll-snap-stop: normal;
  }




  .textCard {
    margin: 0;                  /* remove auto margins */
  }

  /* Optional: if you have a .contact card or button, adjust too */
  .contact {
    max-width: none;
    width: auto;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    align-content: center;
    justify-items: center;
  }

}