<div class="content">
<div style="background-color: var(--primary-color); text-align: center;" class="textCard">
    <h2>Snoeien</h2>
</div>
    <div class="textCard section">
<h2>Onderhoudssnoei</h2>

<ul>
    
<li>Dode</li>
<li>zieke</li>
<li>kruisende takken </li>
      </ul>
<button class="contact" routerLink="Contact/Onderhoudssnoei">Vraag gratis offerte aan</button>
  </div>
  <!-- <div class="textCard">Labore error nulla ullam repellat corporis hic, at fugit possimus, alias sunt asperiores neque aliquam ipsa ab placeat sit iste fuga nemo?</div> -->
</div>
        <!-- <li>Onderhoudssnoei: dode, zieke en kruisende takken verwijderen.</li>
        <li>Vormsnoei: kroon in gewenste vorm houden.</li>
        <li>Uitlichten: selectief takken wegnemen voor meer licht en lucht.</li>
        <li>Inkortingssnoei: takken verkorten om lengte/groei te beperken.</li>
        <li>Opkronen: onderste takken verwijderen (vrij maken van doorgang).</li>
        <li>Begeleidingssnoei: jonge bomen sturen naar correcte structuur.</li> -->