<span class="content">

@for (service of companyServices.companyServices; track $index) {
  @if (service !== 'Contact') {
    <a class="card" [routerLink]="(service|lowercase)">
      <div class="pic">
        <img
        class="homePictures"
          [src]="'/assets/pictogrammen/' + service + '.png'"
          [alt]="service"
        >
      </div>
    </a>
  }
}


  <!-- <p class="disclaimer">
    © <span id="currentYear">{{ this.domService.getYear() }}</span> De Booser
    Toon, All rights reserved.
  </p> -->
  <div class="whiteSpace"></div>
</span>
