.card {
  align-self: center;
}
.disclaimer {
  grid-column: 1/1;
}
.navButton {
  font-family: "Caveat", cursive;
}
.homePictures {
  width: 100%;
}
.desktopLogo {
  display: none;
}
.content{
  display: flex;
}
.pic{
  width: 120px;
}



@media (min-width: 800px) {
  .homePictures{
    margin-top: 100px;
  }

  .disclaimer{
    grid-column: 1/4;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  .pageHeader {
    grid-column: 1/4;
    font-size: xx-large;
  }
  #snoeienCard {
    justify-self: end;
  }
  #atelierCard {
    grid-column: 3/4;
    justify-self: start;
  }
  #vellenCard {
    grid-column: 2/3;
  }
}
