.card {
  align-self: center;
}
.disclaimer {
  grid-column: 1/1;
}
.navButton {
  font-family: "Caveat", cursive;
}
.homePictures {
  width: 100%;
}
.desktopLogo {
  display: none;
}
.content{

    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ), url('/assets/images/verkoop/3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  
}
.pic{
  width: 120px;
}


@media (max-width: 800px){
  .content{
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  /* .homePictures{
    margin-top: 100px;
  } */

  .disclaimer{
    grid-column: 1/4;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  .pageHeader {
    grid-column: 1/4;
    font-size: xx-large;
  }
  #snoeienCard {
    justify-self: end;
  }
  #atelierCard {
    grid-column: 3/4;
    justify-self: start;
  }
  #vellenCard {
    grid-column: 2/3;
  }
}
